body{
font: 20px Arial, sans-serif;

}
.navbar{
background-color: #59DF15 ;
}


.quem-somos{
color: white;
background-color: slateblue;
}
.margin{

    margin-top: 10px;
    padding-bottom: 50px;
}
.parceiros{

    background-color: teal;
    color: yellow;
}

.servicos{

    
  
}
.bg-footer{
    background-color: black ;
    color: blanchedalmond;

}